#sign button{
    background-color: #3366FF;
    position: relative;
    top:10%;
    right: 2.5%;
    float: right;
}

.list .layui-btn-group{
    width:10%;
}

.list div:nth-child(1){
    cursor: pointer;
}

#items .layui-btn-group .layui-btn{
    width: 45%;
    padding: 0px;
}